.place-grid__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
}

@media (max-width: 768px) {
  .place-grid__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 620px) {
  .place-grid__title {
    font-size: clamp(32px, 8vw, 42px);
    line-height: clamp(35px, 8px, 46px);
    padding-left: 16px;
    padding-right: 16px;
  }
}