.place__title {
   padding: 0;
   margin: 0;
   font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */
    color: #FFFFFF;
    width: 460px;
    

    
}
@media (max-width: 920px) {
    .place__title {
        font-size: clamp(42px, 8vw, 72px);
        line-height: clamp(46px, 8vw, 76px);

    }
}

@media (max-width: 720px) {
    .place__title {
        font-size: clamp(32px, 8vw, 42px);
        line-height: clamp(35px, 8px, 46px);
        padding-left: 16px;
        padding-right: 16px;
    }
}


