.place__container {
    display: flex;
    column-gap: 40px;
    flex-direction: row;
    max-width: 984px;


}

@media (max-width: 1024px) {
    .place_container {
        max-width: 928px;
       

    }
 }
 @media (max-width: 768px) {
    .place_container {
        max-width: 720px;
        

    }
 }
 

 @media (max-width: 720px) {
    .place__container {
        min-width: 288px;
        flex-wrap: wrap;
        

    }
 }