.intro {
    margin-left: 148.29px;
    margin-right: 450.1px;
    margin-bottom: 83px;
    /* значение margin-bottom не совпадает c макетом,так как изображение блока intro дано не корректно на разрешении 1280 */
}

@media (max-width: 1024px) {
    .intro {
    margin-left: 48px;
    margin-right: 286px;
    margin-bottom: 92px;
    }
}

@media (max-width: 768px) {
    .intro {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 88px;
    }
}

@media (max-width: 320px) {
    .intro {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 64px;
    }
}
