.cover__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-decoration: none;
  color: #ffffff;
  max-width: 560px;
  text-align: center;

}

@media (max-width: 700px) {
  .cover__title {
    font-size: clamp(32px, 7vw, 72px);
    line-height: clamp(35px, 7vw, 76px);
    max-width: 288px;
  }
}