.place-grid__link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
  text-decoration-line: underline;
  text-underline-position: under;
  opacity: 1;
}

.place-grid__link:hover {
  opacity: 0.8;
}
