.place__paragraphs {
    
    max-width: 484px;
    width: 100%;
    
}

@media (max-width: 1024px) {
    .place__paragraphs {
    max-width: 456px;
    
    }
}

@media (max-width: 768px) {
    .place__paragraphs {
    max-width: 352px;
    
    }
}

@media (max-width: 720px) {
    .place__paragraphs {
       min-width: 288px;
       padding-left: 16px;
       padding-right: 16px;
       padding-top: 32px;
       

    
    }
}