.intro__title {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
     


}

@media (max-width: 720px) {
    .intro__title {
        font-size: clamp(32px, 5vw, 54px);
        line-height: clamp(35px, 5vw, 58px);
        
    }
}